$color-main-bg: #DA28FF;
$color-blur:#D613FC;
$color-main-text: #141131;
$white: #FFFFFF;
$access-button-bg: #393939;
$access-button-bg-active: #4c4c4c;

$button-height: 56px;

$font-stack: 'system-ui', sans-serif;

body{
    margin: 0;
    background: linear-gradient($color-main-bg, black);
    font-family: $font-stack;
    overflow: hidden;
}
html, body { height: 100% }
#app{
    height: 100%;
    width: 100%;
}