@use 'variables';

body{
    margin: 0;
    background: linear-gradient( variables.$color-main-bg, black);
    font-family: variables.$font-stack;
}
html, body {
    height: 100%;
    overflow: hidden;
}
#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
}